In [2]:
from sqlalchemy import create_engine
import pandas as pd

# AWS credentials
aws_access_key = 'Access_Key'
aws_secret_key = 'Secret_Key'

# RDS credentials
rds_endpoint = 'iagroup5.cbew08ww8t1e.us-east-2.rds.amazonaws.com'
rds_port = '3306'
rds_db_name = 'Movies'
rds_username = 'admin'
rds_password = 'Password'

# Load data from S3 into DataFrame
s3_path = 's3://final-project-mergedata-group-5-sec-2/final_movie_dataset.csv'
df = pd.read_csv(s3_path)

# Connect to RDS
engine = create_engine(f'mysql+pymysql://{rds_username}:{rds_password}@{rds_endpoint}:{rds_port}/{rds_db_name}')

# Write data to MySQL
df.to_sql('movie_details', con=engine, if_exists='replace', index=False)

print("Data loaded successfully from S3 to MySQL")

Data loaded successfully from S3 to MySQL